<keymap version="1" name="SpringBoot Keymap" parent="$default">
  <action id="CloseContent">
    <keyboard-shortcut first-keystroke="ctrl f4" />
    <keyboard-shortcut first-keystroke="ctrl w" />
  </action>
  <action id="EditorSelectWord" />
  <action id="Macro.SpringBoot Automatic Restart">
    <keyboard-shortcut first-keystroke="ctrl s" />
  </action>
  <action id="SaveAll" />
</keymap>